@charset "utf-8";
/*上翻时，上一页的出场动画*/
.page-moveToUpBox{
	animation: moveToUpBox 0.6s ease forwards;
	-webkit-animation: moveToUpBox 0.6s ease forwards;
}
/*上翻时，下一页的入场动画*/
.page-moveFromBottomBox{
	animation: moveFromBottomBox 0.6s ease forwards;
	-webkit-animation: moveFromBottomBox 0.6s ease forwards;
}

/*下翻时，上一页的出场动画*/
.page-moveToBottomBox{
	animation: moveToBottomBox 0.6s ease forwards;
	-webkit-animation: moveToBottomBox 0.6s ease forwards;
}
/*下翻时，下一页的入场动画*/
.page-moveFromUpBox{
	animation: moveFromUpBox 0.6s ease forwards;
	-webkit-animation: moveFromUpBox 0.6s ease forwards;
}


